dist: trusty

language: python

python:
    2.7
    3.5
    3.6
    3.7

addons:
    apt:
        packages:
            - libmpich-dev
            - mpich

before_install:
    - pip install pandas matplotlib scipy numpy h5py mpi4py pyblock pyscf pytest
    - cd
    # testcode
    - git clone git://github.com/jsspencer/testcode

install:
    - cd -
    - python setup.py install

script:
    - cd tests
    - export PYTHONPATH=$PYTHONPATH:$HOME/pyqumc
    - python -c "import sys; print (sys.path)"
    - python -c "import pyqumc; import pyqumc.analysis"
    - python -c "import pyqumc.qmc"
    - $HOME/testcode/bin/testcode.py -vvv
    - cd $HOME/pyqumc
    - python -m pytest -v

after_failure:
    - cat */*.err*